<!-- views/adicionar_cliente.ejs -->
<main style="min-height: 92vh;" class="bg-gray-100 p-8 flex items-center justify-center">
    <div class="w-full max-w-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">Adicionar Cliente</h2>
        <form action="/adicionarCliente" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="Nome" class="block text-gray-700 text-sm font-bold mb-2">Nome do Cliente:</label>
                <input type="text" id="Nome" name="Nome" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="Email" class="block text-gray-700 text-sm font-bold mb-2">Email do Cliente:</label>
                <input type="email" id="Email" name="Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="Telefone" class="block text-gray-700 text-sm font-bold mb-2">Telefone do Cliente:</label>
                <input type="number" id="Telefone" name="Telefone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="Endereco" class="block text-gray-700 text-sm font-bold mb-2">Endereço do Cliente:</label>
                <input type="text" id="Endereco" name="Endereco" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="flex items-center justify-end">
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Adicionar Cliente
                </button>
            </div>
        </form>
    </div>
</main>