<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .bold-on-hover:hover {
            font-weight: bold;
            font-size: 15px;
        }
        .fullscreen-image {
            width: 100%;
            height: 90vh;
        }
    </style>
</head>
<body>
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <a href="/"><h1 class="text-white text-xl">Mercado</h1></a>
                </div>
                <div class="flex">
                    <a href="/produtos" style="margin-right: 15px;" class="text-white bold-on-hover">Produtos</a>
                    <a href="/vendas" style="margin-right: 15px;" class="text-white bold-on-hover">Gerenciamento</a>
                    <a href="/clientes" class="text-white bold-on-hover">Clientes</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="min-h-screen bg-gray-100 p-8">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-3xl font-bold">Vendas</h1>
            <div class="flex space-x-4">
                <a href="/adicionar_cliente">
                    <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">
                        Cadastrar Cliente
                    </button>
                </a>
                <a href="/deletar_cliente">
                    <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">
                        Deletar Cliente
                    </button>
                </a>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Nome</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Email</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Telefone</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Endereço</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <% data.forEach(cliente => { %>
                        <tr class="hover:bg-gray-50">
                            <td class="px-6 py-4 whitespace-nowrap"><%= cliente.Nome %></td>
                            <td class="px-6 py-4 whitespace-nowrap"><%= cliente.Email %></td>
                            <td class="px-6 py-4 whitespace-nowrap"><%= cliente.Telefone%></td>
                            <td class="px-6 py-4 whitespace-nowrap"><%= cliente.Endereco %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <footer class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-center h-16">
                <div class="flex items-center">
                    <h1 class="text-white">Todos os direitos reservados &copy; <script>document.write(new Date().getFullYear())</script></h1>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
