<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbearia</title>
    <style>
        /* Estilos CSS podem ser adicionados aqui */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
            
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
        .container {
            margin: 0 auto;
            text-align: center;
            margin-top: 20px;
            max-width: 70%;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/horario">Marcar Horário</a>
        <a href="/contato">Contato</a>
    </nav>
    
    <div class="container">
        <h2>Sobre a Barbearia</h2>
        <p>"Bem-vindo à Barbearia 'Corte Preciso', um local onde tradição e modernidade se encontram para oferecer a você uma experiência única em cuidados masculinos. Fundada há três gerações por Pedro, um habilidoso imigrante apaixonado pela arte da barbearia, nossa barbearia rapidamente se tornou um ponto de referência em nosso bairro.
            <br>
            Sob a liderança de seu filho, Paulo, herdamos não apenas a expertise em cortes de cabelo e barba, mas também o compromisso com a excelência no atendimento ao cliente. Na 'Corte Preciso', não apenas transformamos sua aparência, mas também criamos um ambiente acolhedor, onde histórias são compartilhadas e amizades são formadas.
            <br>
            Agora, com Lucas, a terceira geração da família, seguimos adiante, mantendo vivo o legado de nossos ancestrais. Ele traz consigo uma paixão renovada e uma visão moderna, garantindo que continuemos a ser uma parte vital da comunidade.
            <br>
            Visite-nos e descubra por que a Barbearia 'Corte Preciso' não é apenas um lugar para um corte de cabelo, mas sim um destino onde você será tratado com cuidado, habilidade e respeito.</p>
        <h2>Marcar Horário</h2>
        <p>Aqui você pode marcar seu horário para um corte de cabelo ou barba.</p>
        <!-- Formulário de marcação de horário pode ser adicionado aqui -->
    </div>
    <footer>
        <p>Endereço: Rua da Barbearia, 123 - Cidade</p>
        <p>Telefone: (00) 1234-5678</p>
        <p>&copy; 2024 Barbearia</p>
    </footer>
</body>
</html>
