<!-- views/partials/footer.ejs -->

<footer class="bg-gray-800 footer">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center h-16">
            <div class="flex items-center">
                <h1 class="text-white">Todos os direitos reservados &copy; <script>document.write(new Date().getFullYear())</script></h1>
            </div>
        </div>
    </div>
</footer>