<!-- views/partials/navbar.ejs -->
<nav class="bg-gray-800 navbar">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a href="/"><h1 class="text-white text-xl">Mercado</h1></a>
            </div>
            <div class="flex">
                <a href="/produtos" style="margin-right: 15px;" class="text-white bold-on-hover">Produtos</a>
                <a href="/vendas" style="margin-right: 15px;" class="text-white bold-on-hover">Gerenciamento</a>
                <a href="/clientes" class="text-white bold-on-hover">Clientes</a>
            </div>
        </div>
    </div>
</nav>