<!-- views/deletar_cliente.ejs -->
<main style="min-height: 92vh;" class="bg-gray-100 p-8 flex items-center justify-center">
    <div class="w-full max-w-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">Deletar Venda</h2>
        <form id="deletar-cliente-form" method="POST" action="/deletarVenda" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="VendaID" class="block text-gray-700 text-sm font-bold mb-2">Selecione a Venda:</label>
                <select id="VendaID" name="VendaID" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                    <option value="" disabled selected>Selecione um usuário para excluir</option> <!-- Added this line -->
                    <% data.forEach(venda => { %>
                        <option value="<%= venda.VendaID %>"><%= venda.Cliente.Nome %> - <%= new Date(venda.DataVenda).toLocaleDateString() %></option>
                    <% }) %>
                </select>
            </div>
            <div class="flex items-center justify-end">
                <button type="submit" id="deletar-cliente-button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Deletar Venda
                </button>
            </div>
        </form>
    </div>
</main>
    